@use "../utils/variables";

.card__info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;

    .card__title {
        color: variables.$main-color;
        text-align: left;

        & h2 {
            margin: 0;
            font-size: 36px;
            font-weight: 500;
        }

        & p {
            font-size: 18px;
            margin-top: 4px;
        }
    }

    .card_tags {
        display: flex;

        & ul {
            display: flex;
            flex-direction: row;
            padding-left: 0;
            margin-top: 12px;

            & li {
                list-style-type: none;
                background-color: variables.$main-color;
                color: white;
                font-size: 14px;
                height: 25px;
                min-width: 115px;
                padding: 4px 10px;
                width: auto;
                margin-right: 20px;
                border-radius: 10px;

            }
        }
    }

    .card__host {
        display: flex;
        flex-direction: row-reverse;

        & img {
            width: 64px;
            height: 64px;
            border-radius: 60px;
        }

        & p {
            color: variables.$main-color;
            font-size: 18px;
            margin: auto 8px;
            padding-top: 4px;
            width: 93px;
            height: 52px;
            text-align: right;
        }
    }

    .card_rate {
        margin-top: 28px;
    }
}

.card_collapses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 76px;

    .collapse {
        width: 50%;

        .collapse__title__ctn {
            border-radius: 10px;

            .collapse__title {
                font-size: 18px;
                padding-top: 4px;

            }
        }

        & ul {
            margin: 0;
            padding-left: 0;
        }

        & li {
            list-style-type: none;

        }

        .collapse__hiddenTxt {
            margin-top: -200px;
        }

    }
}