@use '../utils/variables';

.collapse {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    max-width: 1023px;
    margin: 40px auto 0;
    min-height: 52px;
    overflow: hidden;

    @media (max-width : 767.99px) {
        width: 100%;
        margin: 20px auto 0;
        min-height: 32px;
        overflow: hidden;
    }

    .collapse__title__ctn {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: variables.$main-color;
        padding: 10px 20px 10px 15px;
        border-radius: 5px;
        height: 52px;

        @media (max-width : 767.99px) {
            height: 32px;
            padding: 0 10px;
        }

        .collapse__title {
            color: white;
            font-size: 24px;
            font-weight: 500;
            margin: 0;

            @media (max-width : 767.99px) {
                font-size: 13px;
                align-self: center;
            }
        }

        .collapse__arrow {
            background-color: variables.$main-color;
            width: 32px;
            height: 32px;
            cursor: pointer;
            transform: rotate(0deg);
            transition: transform 300ms ease-in-out;
        }

        .arrow_down {
            transform: rotate(-180deg);
            transition: transform 300ms ease-in-out;
        }

        .arrow_up {
            transform: rotate(0deg);
            transition: transform 300ms ease-in-out;
        }
    }

    .collapse__txt__ctn {
        background-color: variables.$bg-color;
        color: variables.$main-color;
        font-size: 18px;
        text-align: left;
        padding: 0 20px;
        margin-top: 0;
        z-index: -1;
        transition: all 500ms ease-in-out;

        @media (max-width : 767.99px) {
            font-size: 12px;
            transition: all 500ms ease-in-out;
        }

        .collapse__txt {
            padding: 24px 8px
        }
    }

    .collapse__hiddenTxt {
        opacity: 0;
        margin-top: -80px;
        z-index: -1;
        transition: all 500ms ease-in-out;

        @media (max-width : 767.99px) {
            margin-top: -130px;
            transition: all 500ms ease-in-out;
        }
    }
}

.accomodationCollapse {

    width: 50%;

    @media (max-width : 767.99px) {
        width: 100%;
    }

    .collapse__title__ctn {
        border-radius: 10px;

        .collapse__title {
            font-size: 18px;
            padding-top: 4px;

            @media (max-width : 767.99px) {
                font-size: 13px;
                padding-top: 2px;
            }
        }
    }

    ul {
        margin: 0;
        padding-left: 0;
    }

    li {
        list-style-type: none;

    }

    .collapse__hiddenTxt {
        margin-top: -200px;
    }
}