@use '../utils/variables';


.star {
    padding-left: 4px;
    font-size: 26px;

    @media (max-width : 767.99px) {
        font-size: 14px;
        padding-right: 2px;
    }
}

.pleine {
    color: variables.$main-color;
}

.vide {
    color: #e3e3e3;
}